@import '$lib/assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;

	@media only screen and (max-width: 650px) {
		font-size: 55%;
		overflow-x: hidden;
	}
}

body {
	@apply bg-raisin-black;
}

.wrapper {
	@apply mx-auto max-w-[144rem] bg-royal-blue-traditional px-[2.5rem];
}
