@import '$lib/assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	@apply bg-off-white;
}

.wrapper {
	@apply mx-auto max-w-[1200px] px-[4rem] py-[2rem];
}
